body {
    margin: 0;
    padding: 0;
    background: #FCF8F5 !important;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page-wrap {
    overflow-x: hidden;
    overflow-y: hidden;
}

h1 {
    font-family: 'Caveat', cursive;
    font-weight: 700;
    font-size: 60px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.title-page {
    color: #303F9F;
}

/* bootstrap */

.container {
    max-width: 1140px;
}

.navbar-toggler {
    border: 1px solid #303F9F;
    color: #ffffffad;
}

.nav-link {
    color: #6c76b9 !important;
    transition: 0.4s;
}

.nav-link:focus,
.nav-link:hover {
    color: #303F9F !important;
}

.nav-link.active {
    text-decoration: dotted;
    color: #303F9F !important;
    font-weight: 600;
}

.dropdown-menu {
    /* background-color: #FCF8F5; */
    border: 0.5px solid #ffffff;
    box-shadow: 8px 8px 16px -4px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 8px 8px 16px -4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 8px 8px 16px -4px rgba(0, 0, 0, 0.25);
}

.dropdown-item {
    color: #303F9F;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background: #303F9F;
    color: #FCF8F5;
}

/* margin padding */

.mg-t10-b20 {
    margin: 10px 0 20px 0;
}

/* slide */

.slide-bg {
    background-image: url(../bg/slide-1.png);
    background-repeat: no-repeat;
    background-size: auto !important;
    background-position: top;
}

.slide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #303F9F;
    overflow: hidden;
}

.slide-content>h1 {
    animation-delay: 0.4s;
}

.slide-content>h2 {
    animation-delay: 0.2s;
}

.slide-content>a {
    animation-delay: 2s;
}

.slide-mockup {
    animation-delay: 0.6s;
    animation-duration: 1200ms;
}

.slide-content>.slide-mockup>img {
    width: 30%;
    height: auto;
}

.slide-mockup>img {
    max-width: 95%;
    height: auto;
}


/* partners */